body {
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  display: flex; /* Utiliza el modelo de caja flexible para alinear los elementos secundarios */
  place-items: center; /* Centra los elementos secundarios horizontal y verticalmente */
  min-width: 320px; /* Establece el ancho mínimo del cuerpo */
  min-height: 100vh; /* Establece la altura mínima del cuerpo al 100% del viewport */
  font-family: sans-serif; /* Utiliza la fuente predeterminada del sistema */
  background-image: linear-gradient(
    /* Establece un fondo degradado lineal */ to right,
    #afffab,
    #b9ffa4,
    #c4ff9e,
    #ceff98,
    #d9fe92
  );
}

.cardStyle {
  display: flex; /* Utiliza el modelo de caja flexible para alinear los elementos secundarios */
  flex-direction: column; /* Establece la dirección de apilamiento de los elementos secundarios como columna */
  align-items: center; /* Centra los elementos secundarios horizontalmente */
  border: 2px none; /* Elimina el borde del elemento */
  padding: 0.5em 2em 2em 2em; /* Establece el relleno del elemento */
  border-radius: 20px; /* Establece el radio de borde del elemento */
  height: 40em; /* Establece la altura del elemento */
  width: 24em; /* Establece el ancho del elemento */
  background-color: white; /* Establece el color de fondo del elemento */
}

.iconStyle {
  display: flex; /* Utiliza el modelo de caja flexible para alinear los elementos secundarios */
  justify-content: center;
}

.formStyle {
  display: flex; /* Utiliza el modelo de caja flexible para alinear los elementos secundarios */
  flex-direction: column; /* Establece la dirección de apilamiento de los elementos secundarios como columna */
  gap: 2em; /* Establece el espacio entre los elementos secundarios */
}

.buttonStyle {
  padding: 0.5em 4.2em 0.5em 4.2em; /* Establece el relleno del elemento */
  margin-bottom: 1em; /* Establece el margen inferior del elemento */
}

.read-the-docs {
  color: #888; /* Establece el color del texto */
}

#alerta {
  box-sizing: border-box; /* Incluye el borde y el relleno en el tamaño total del elemento */
  font-size: 1em; /* Establece el tamaño de fuente del elemento */
}

.formulario {
  display: flex; /* Utiliza el modelo de caja flexible para alinear los elementos secundarios */
  flex-direction: column; /* Establece la dirección de apilamiento de los elementos secundarios como columna */
  width: 90%; /* Establece el ancho del elemento */
  height: 100vh; /* Establece la altura del elemento al 100% del viewport */
}

.header {
  font-size: 2.3em; /* Establece el tamaño de fuente del elemento */
  padding-top: 1em; /* Establece el relleno superior del elemento */
  width: 100%; /* Establece el ancho del elemento */
}

.texto {
  font-size: 1em; /* Establece el tamaño de fuente del elemento */
  padding: 0.5em 0em 0.5em 0em; /* Establece el relleno del elemento */
}
